<a href="https://colab.research.google.com/github/karendu8180/Data612/blob/main/Assignment05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment for Week 5      
(Chapter 6 & 7)

## Purpose:
This assignment is intended to help you do the following:       
1.	Differentiate between categorical and non-categorical variables
2.	Convert variables from one type to another
3.	Familiarize with strings

## Action Items:      
•	Convert data
1. Work on your selected data set and covert a column of non-categorical type into a categorical type. 
2. Convert another column into a string type. 
3. Post your work on GitHub
4. Add a README file

In [19]:
#Work on your selected data set and covert a column of non-categorical type into a categorical type.

import pandas as pd

df= pd.read_csv ('https://raw.githubusercontent.com/frankData612/data_612/master/baseballdatabank-master/core/AllstarFull.csv')
df

       playerID  yearID  gameNum        gameID teamID lgID  GP  startingPos
0     gomezle01  1933.0      0.0  ALS193307060    NYA   AL   1          1.0
1     ferreri01  1933.0      0.0  ALS193307060    BOS   AL   1          2.0
2     gehrilo01  1933.0      0.0  ALS193307060    NYA   AL   1          3.0
3     gehrich01  1933.0      0.0  ALS193307060    DET   AL   1          4.0
4     dykesji01  1933.0      0.0  ALS193307060    CHA   AL   1          5.0
...         ...     ...      ...           ...    ...  ...  ..          ...
5370  sorokmi01  2019.0      0.0  ALS201907090    ATL   NL   1          NaN
5371  storytr01  2019.0      0.0  ALS201907090    COL   NL   1          NaN
5372  woodrbr01  2019.0      0.0  ALS201907090    MIL   NL   1          NaN
5373  yateski01  2019.0      0.0  ALS201907090    SDN   NL   0          NaN
5374  bailean01     NaN      NaN           NaN    OAK   AL   0          NaN

[5375 rows x 8 columns]

In [20]:
df.dtypes

playerID        object
yearID         float64
gameNum        float64
gameID          object
teamID          object
lgID            object
GP               int64
startingPos    float64
dtype: object

In [22]:
df['lgID'] = df['lgID'].astype('str')

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5375 entries, 0 to 5374
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   playerID     5375 non-null   object
 1   yearID       5374 non-null   float64
 2   gameNum      5374 non-null   float64
 3   gameID       5325 non-null   object
 4   teamID       5375 non-null   object
 5   lgID         5375 non-null   object
 6   GP           5375 non-null   int64
 7   startingPos  1691 non-null   float64
dtypes: float64(3), int64(1), object(4)
memory usage: 336.1+ KB
None

In [24]:
df['lgID'] = df['lgID'].astype('category')

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5375 entries, 0 to 5374
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   playerID     5375 non-null   object
 1   yearID       5374 non-null   float64
 2   gameNum      5374 non-null   float64
 3   gameID       5325 non-null   object
 4   teamID       5375 non-null   object
 5   lgID         5375 non-null   category
 6   GP           5375 non-null   int64
 7   startingPos  1691 non-null   float64
dtypes: category(1), float64(3), int64(1), object(3)
memory usage: 299.4+ KB
None

In [26]:
#Convert another column into a string type.
df['gameID_str'] = df['gameID'].astype('str')

print(df.dtypes)

playerID         object
yearID          float64
gameNum         float64
gameID           object
teamID           object
lgID           category
GP                int64
startingPos     float64
gameID_str       object
dtype: object