<a href="https://colab.research.google.com/github/karendu8180/Data612/blob/main/Assignment06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment for Week 6      
(Chapter 8 & 9)

## Purpose:     
This assignment is intended to help you do the following:     
1.	Advance your knowledge on working with strings
2.	Familiarize with regular expression
3.	Use of functions and .apply()

## Action Items:       
•	Working with strings.
1. Clean a column on your data set using 
regular expression methods.      
2. Store the cleaned column into another column of your data set and call it “your_col_name_cleaned”.     

  *Another data set will be provided if your data set is not appropriate to apply regular expression methods.        

•	Use of .apply() 

1.   Create a function that returns the mean, sum, mode, median, and range (separately)      
2.   Run the function into your chosen data set using the .apply() method.     
3.   Post your work on GitHub

In [218]:
#Clean a column on your data set using regular expression methods


import pandas as pd
df = pd.read_csv ('https://raw.githubusercontent.com/frankData612/data_612/master/baseballdatabank-master/core/Salaries.csv')
df

       yearID teamID lgID   playerID    salary
0        1985    ATL   NL  barkele01    870000
1        1985    ATL   NL  bedrost01    550000
2        1985    ATL   NL  benedbr01    545000
3        1985    ATL   NL   campri01    633333
4        1985    ATL   NL  ceronri01    625000
...       ...    ...  ...        ...       ...
26423    2016    WAS   NL  strasst01  10400000
26424    2016    WAS   NL  taylomi02    524000
26425    2016    WAS   NL  treinbl01    524900
26426    2016    WAS   NL  werthja01  21733615
26427    2016    WAS   NL  zimmery01  14000000

[26428 rows x 5 columns]

In [219]:
import re

year='0000'

m = re.match(pattern='\d\d\d\d', string=year)

if m:

    print('match')

else:

    print('no match')

match

In [220]:
#Store the cleaned column into another column of your data set and call it “your_col_name_cleaned”.

#*Another data set will be provided if your data set is not appropriate to apply regular expression methods.

df['year_cleaned']= m
df

       yearID teamID  ...    salary                                  year_cleaned
0        1985    ATL  ...    870000  <re.Match object; span=(0, 4), match='0000'>
1        1985    ATL  ...    550000  <re.Match object; span=(0, 4), match='0000'>
2        1985    ATL  ...    545000  <re.Match object; span=(0, 4), match='0000'>
3        1985    ATL  ...    633333  <re.Match object; span=(0, 4), match='0000'>
4        1985    ATL  ...    625000  <re.Match object; span=(0, 4), match='0000'>
...       ...    ...  ...       ...                                           ...
26423    2016    WAS  ...  10400000  <re.Match object; span=(0, 4), match='0000'>
26424    2016    WAS  ...    524000  <re.Match object; span=(0, 4), match='0000'>
26425    2016    WAS  ...    524900  <re.Match object; span=(0, 4), match='0000'>
26426    2016    WAS  ...  21733615  <re.Match object; span=(0, 4), match='0000'>
26427    2016    WAS  ...  14000000  <re.Match object; span=(0, 4), match='0000'>

[26428 rows x 6 columns]

In [221]:
#Create a function that returns the mean, sum, mode, median, and range (separately)
def sum(vec):

  sum = np.sum(df)

  return sum

In [222]:
def mean(vec):

  mean = np.mean(df)

  return mean

In [223]:
from collections import Counter
def get_first_mode(a):
    c = Counter(a)  
    mode_count = max(c.values())
    mode = {key for key, count in c.items() if count == mode_count}
    first_mode = next(x for x in a if x in mode)
    return first_mode

In [224]:
import statistics

def median(lst):
    n = len(lst)
    s = sorted(lst)
    return (sum(s[n//2-1:n//2+1])/2.0, s[n//2])[n % 2] if n else None

In [225]:
 def range(lst):
    min_val = min(lst)
    max_val = max(lst)

    return (min_val, max_val)

In [226]:
#Run the function into your chosen data set using the .apply() method.
sum1 = df.apply(sum)
sum1

                                                     yearID  ...                                       year_cleaned
yearID                                             52879223  ...                                           52879223
teamID    ATLATLATLATLATLATLATLATLATLATLATLATLATLATLATLA...  ...  ATLATLATLATLATLATLATLATLATLATLATLATLATLATLATLA...
lgID      NLNLNLNLNLNLNLNLNLNLNLNLNLNLNLNLNLNLNLNLNLNLAL...  ...  NLNLNLNLNLNLNLNLNLNLNLNLNLNLNLNLNLNLNLNLNLNLAL...
playerID  barkele01bedrost01benedbr01campri01ceronri01ch...  ...  barkele01bedrost01benedbr01campri01ceronri01ch...
salary                                          55119136756  ...                                        55119136756

[5 rows x 6 columns]

In [227]:
mean1 = df.apply(mean)
mean1

              yearID        teamID  ...        salary  year_cleaned
yearID  2.000879e+03  2.000879e+03  ...  2.000879e+03  2.000879e+03
salary  2.085634e+06  2.085634e+06  ...  2.085634e+06  2.085634e+06

[2 rows x 6 columns]

In [228]:
mode1 = df.apply(get_first_mode)
mode1

yearID                                                  1999
teamID                                                   LAN
lgID                                                      NL
playerID                                           moyerja01
salary                                                109000
year_cleaned    <re.Match object; span=(0, 4), match='0000'>
dtype: object

In [229]:
median1 = df.apply(median)

median1

TypeError: ignored

In [230]:
range1 = df.apply(range)
range1

TypeError: ignored