<a href="https://colab.research.google.com/github/karendu8180/Data612/blob/main/Assignment04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment for Week 4      
(Chapter 4 & 5)

## Purpose:         
This assignment is intended to help you do the following:
1.	Familiarize with merging datasets together
2.	Learn how to identify missing data from a dataset
3.	Handle the missing data from the dataset

## Action Items:
â€¢	Merge other data to your selected data set.    
1. Find another data set, series, text data or a column from another data source and merge with your selected data set.      
2. Identify the missing values on your data set. Count the missing values on your data set and then clean your data set from the missing values.       
3. Post your work on GitHub     
4. Add a README

In [ ]:
 #Find another data set, series, text data or a column from another data source and merge with your selected data set.

from numpy import NaN, NAN, nan
import pandas as pd

 data1= pd.read_csv ('https://raw.githubusercontent.com/frankData612/data_612/master/baseballdatabank-master/core/AwardsManagers.csv')
 data2= pd.read_csv ('https://raw.githubusercontent.com/frankData612/data_612/master/baseballdatabank-master/core/AwardsShareManagers.csv')

In [3]:
print(data1)

      playerID                    awardID  yearID lgID  tie notes
0    larusto01  BBWAA Manager of the Year    1983   AL  NaN   NaN
1    lasorto01  BBWAA Manager of the Year    1983   NL  NaN   NaN
2    andersp01  BBWAA Manager of the Year    1984   AL  NaN   NaN
3     freyji99  BBWAA Manager of the Year    1984   NL  NaN   NaN
4      coxbo01  BBWAA Manager of the Year    1985   AL  NaN   NaN
..         ...                        ...     ...  ...  ...   ...
174  willima04  BBWAA Manager of the Year    2014   NL  NaN   NaN
175  banisje01  BBWAA Manager of the Year    2015   AL  NaN   NaN
176  maddojo99  BBWAA Manager of the Year    2015   NL  NaN   NaN
177  francte01  BBWAA Manager of the Year    2016   AL  NaN    \t
178  roberda07  BBWAA Manager of the Year    2016   NL  NaN   NaN

[179 rows x 6 columns]

In [4]:
print(data2)

                       awardID  yearID lgID  ... pointsWon  pointsMax  votesFirst
0    BBWAA Manager of the Year    1983   AL  ...         7       28.0           7
1    BBWAA Manager of the Year    1983   AL  ...         4       28.0           4
2    BBWAA Manager of the Year    1983   AL  ...        17       28.0          17
3    BBWAA Manager of the Year    1983   NL  ...        10       24.0          10
4    BBWAA Manager of the Year    1983   NL  ...         9       24.0           9
..                         ...     ...  ...  ...       ...        ...         ...
420  BBWAA Manager of the Year    2016   NL  ...       108        NaN          16
421  BBWAA Manager of the Year    2016   NL  ...        70        NaN           8
422  BBWAA Manager of the Year    2016   NL  ...        66        NaN           4
423  BBWAA Manager of the Year    2016   NL  ...        24        NaN           2
424  BBWAA Manager of the Year    2016   NL  ...         2        NaN           0

[425 rows x 7 columns]

In [15]:
data12= data1.merge(data2, left_on='awardID', right_on='awardID')
print(data12)

      playerID_x                    awardID  ...  pointsMax votesFirst
0      larusto01  BBWAA Manager of the Year  ...       28.0          7
1      larusto01  BBWAA Manager of the Year  ...       28.0          4
2      larusto01  BBWAA Manager of the Year  ...       28.0         17
3      larusto01  BBWAA Manager of the Year  ...       24.0         10
4      larusto01  BBWAA Manager of the Year  ...       24.0          9
...          ...                        ...  ...        ...        ...
29320  roberda07  BBWAA Manager of the Year  ...        NaN         16
29321  roberda07  BBWAA Manager of the Year  ...        NaN          8
29322  roberda07  BBWAA Manager of the Year  ...        NaN          4
29323  roberda07  BBWAA Manager of the Year  ...        NaN          2
29324  roberda07  BBWAA Manager of the Year  ...        NaN          0

[29325 rows x 12 columns]

In [ ]:
#Identify the missing values on your data set. Count the missing values on your data set and then clean your data set from the missing values.

print(data12.count())

In [12]:
data12.shape#total of 12 columns after merging those two data

(29325, 12)

In [13]:
num_rows = data12.shape[0]

num_missing = num_rows - data12.count()

print(num_missing)

playerID_x        0
awardID           0
yearID_x          0
lgID_x            0
tie           28475
notes         28900
yearID_y          0
lgID_y            0
playerID_y        0
pointsWon         0
pointsMax       759
votesFirst        0
dtype: int64

In [17]:
import numpy as np

print(np.count_nonzero(data12.isnull()))

58134

In [25]:
#replace all missing values as 0
print(data12.fillna(0).iloc[0:29325, 0:12])

      playerID_x                    awardID  ...  pointsMax votesFirst
0      larusto01  BBWAA Manager of the Year  ...       28.0          7
1      larusto01  BBWAA Manager of the Year  ...       28.0          4
2      larusto01  BBWAA Manager of the Year  ...       28.0         17
3      larusto01  BBWAA Manager of the Year  ...       24.0         10
4      larusto01  BBWAA Manager of the Year  ...       24.0          9
...          ...                        ...  ...        ...        ...
29320  roberda07  BBWAA Manager of the Year  ...        0.0         16
29321  roberda07  BBWAA Manager of the Year  ...        0.0          8
29322  roberda07  BBWAA Manager of the Year  ...        0.0          4
29323  roberda07  BBWAA Manager of the Year  ...        0.0          2
29324  roberda07  BBWAA Manager of the Year  ...        0.0          0

[29325 rows x 12 columns]

In [34]:
#or just simply drop columns ("tie" and "notes") since these two columns are full with "NaN"

new = data12.drop(labels=["tie","notes"],axis=1)

print(new)#I dropped 2 columns, so I have a total of 10 columns now

      playerID_x                    awardID  ...  pointsMax votesFirst
0      larusto01  BBWAA Manager of the Year  ...       28.0          7
1      larusto01  BBWAA Manager of the Year  ...       28.0          4
2      larusto01  BBWAA Manager of the Year  ...       28.0         17
3      larusto01  BBWAA Manager of the Year  ...       24.0         10
4      larusto01  BBWAA Manager of the Year  ...       24.0          9
...          ...                        ...  ...        ...        ...
29320  roberda07  BBWAA Manager of the Year  ...        NaN         16
29321  roberda07  BBWAA Manager of the Year  ...        NaN          8
29322  roberda07  BBWAA Manager of the Year  ...        NaN          4
29323  roberda07  BBWAA Manager of the Year  ...        NaN          2
29324  roberda07  BBWAA Manager of the Year  ...        NaN          0

[29325 rows x 10 columns]