<a href="https://colab.research.google.com/github/karendu8180/Data612/blob/main/Data612_HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pand 
df = pand.read_csv ('https://raw.githubusercontent.com/frankData612/data_612/master/stock_data/stocks_yahoo.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
#Show the .head() and .tail() of the data set. Specify the number of rows to print using .head() and .tail().
df.head(100)

In [ ]:
df.tail(100)

          no         date  ... Dividend Yield  1Y target est
67805  67806  Apr 28 2020  ...      N/A (N/A)          49.88
67806  67807  Apr 28 2020  ...      N/A (N/A)           3.78
67807  67808  Apr 28 2020  ...      N/A (N/A)          42.67
67808  67809  Apr 28 2020  ...      N/A (N/A)          84.20
67809  67810  Apr 28 2020  ...      N/A (N/A)          30.82
...      ...          ...  ...            ...            ...
67900  67901  Apr 28 2020  ...      N/A (N/A)          12.83
67901  67902  Apr 28 2020  ...   0.44 (1.49%)          33.33
67902  67903  Apr 28 2020  ...      N/A (N/A)          11.50
67903  67904  Apr 28 2020  ...      N/A (N/A)          67.67
67904  67905  Apr 28 2020  ...      N/A (N/A)          67.62

[100 rows x 19 columns]

In [ ]:
#Print the column names.
df.columns

Index(['no', 'date', 'company_name', 'price_at_close', 'price_change',
       'price_after_hours', 'previous_close', 'today opened', 'price range',
       '52 week range', 'volume', 'average volume', 'market cap',
       'beta (3Y Monthly)', 'PE Ratio', 'EPS', 'earnings date',
       'Dividend Yield', '1Y target est'],
      dtype='object')

In [ ]:
#Print to see what is the type of your data set
df.dtypes

no                     int64
date                  object
company_name          object
price_at_close       float64
price_change          object
price_after_hours    float64
previous_close       float64
today opened         float64
price range           object
52 week range         object
volume                object
average volume       float64
market cap            object
beta (3Y Monthly)    float64
PE Ratio             float64
EPS                  float64
earnings date         object
Dividend Yield        object
1Y target est        float64
dtype: object

In [ ]:
#Check number of rows and columns.
df.shape

(67905, 19)

In [ ]:
#Use groupby() and find the mean on your selected colum/s.
df.groupby(['date','company_name'])['average volume'].mean()

date         company_name
Apr 01 2020  A - Agilent Technologies, Inc.            2473980.0
             AAL - American Airlines Group Inc.       28934614.0
             AAP - Advance Auto Parts, Inc.            1199779.0
             AAPL - Apple Inc.                        49330169.0
             ABB - ABB Ltd                             2507430.0
                                                         ...
Nov 25 2019  XOM - Exxon Mobil Corporation            11007175.0
             XRX - Xerox Holdings Corporation          2178231.0
             YASKY - YASKAWA Electric Corporation         8804.0
             ZBRA - Zebra Technologies Corporation      414248.0
             ZTS - Zoetis Inc.                         2101576.0
Name: average volume, Length: 67898, dtype: float64

In [ ]:
#Add a README file in GitHub where you explain everything you did.